##### map - inbuilt function

In [1]:
def square(x):
    return x**2

In [2]:
square(2)

4

In [3]:
square(5)

25

In [4]:
list1 = [1, 2, 3, 4, 5]

In [5]:
#square each element of this list
list2 = []
for i in list1:
    list2.append(square(i))
list2

[1, 4, 9, 16, 25]

In [14]:
#Using map function to get same output
#map takes the function and applies on each and every element of your list
list(map(square, list1))

[1, 4, 9, 16, 25]

In [18]:
#without calling the user defined function
list(map(lambda x : x**2, list1))

[1, 4, 9, 16, 25]

In [11]:
#what split does
'Mr. Mohammad Wajahat'.split()[1:]

['Mohammad', 'Wajahat']

In [13]:
list(map(lambda x : x.split()[1:], ['Mr. Ravi Kumar', 'Mr. Raja Roy', 'Mrs. Kavita', 'Mr. Mohan']))

[['Ravi', 'Kumar'], ['Raja', 'Roy'], ['Kavita'], ['Mohan']]

In [14]:
list(map(lambda x : ' '.join(x.split()[1:]), ['Mr. Ravi Kumar', 'Mr. Raja Roy', 'Mrs. Kavita', 'Mr. Mohan']))

['Ravi Kumar', 'Raja Roy', 'Kavita', 'Mohan']

In [16]:
list(map(lambda x : x.split('@')[0], ['ravi_k@gmail.com', 'raja1988@outlook.com', 'kkavita@xyz.ai', 'mohanmohan@live.com']))

['ravi_k', 'raja1988', 'kkavita', 'mohanmohan']

##### filter - inbuilt function

In [36]:
my_list = [10, 10, -10, -9, 0, 0, 8, 0, 1]
list(filter(None, my_list))

[10, 10, -10, -9, 8, 1]

In [37]:
list(filter(lambda x : x > 0, my_list))

[10, 10, 8, 1]

##### Comprehensions

In [26]:
my_list = [10, 10, -10, -9, 0, 0, -8, 0, 1]

#I want to get the absolute values for each of these elements in a list

new_list = []
for number in my_list:
    new_list.append(abs(number))
new_list

[10, 10, 10, 9, 0, 0, 8, 0, 1]

In [27]:
list(map(lambda x : abs(x), my_list))

[10, 10, 10, 9, 0, 0, 8, 0, 1]

In [11]:
#using list comprehension
[abs(i) for i in my_list]

[10, 10, 10, 9, 0, 0, 8, 0, 1]

In [12]:
#using list comprehension
[i**2 for i in my_list]

[100, 100, 100, 81, 0, 0, 64, 0, 1]

In [13]:
#using list comprehension
[i+2 for i in my_list]

[12, 12, -8, -7, 2, 2, 10, 2, 3]

In [24]:
[(i*2,i**2) for i in my_list]

[(20, 100),
 (20, 100),
 (-20, 100),
 (-18, 81),
 (0, 0),
 (0, 0),
 (16, 64),
 (0, 0),
 (2, 1)]

In [28]:
import numpy as np

my_long_list = np.random.randn(10000000)
my_long_list.shape

(10000000,)

In [29]:
my_long_list[:10]

array([-0.18992488, -2.19376696,  0.08742689, -1.18161582,  1.10188629,
        1.3467656 , -1.40424065,  0.66058499,  1.91944806, -0.45178468])

In [32]:
import time

start = time.time()
x = list(map(lambda x : x**1/3, my_long_list))
end = time.time()

print(end - start)

8.00409460067749

In [33]:

start = time.time()
x = [i**1/3 for i in my_long_list]
end = time.time()

print(end - start)

4.778077602386475

Clearly list comprehension is faster than map function

In [18]:
#squaring 
[i**2 for i in my_list]

[100, 100, 100, 81, 0, 0, 64, 0, 1]

In [38]:
#use if condition in list comprehension
[i for i in my_list if i > 0]

[10, 10, 8, 1]

In [39]:
#generate multiple values
[(i,i**2) for i in my_list if i > 0]

[(10, 100), (10, 100), (8, 64), (1, 1)]

In [51]:
[i**2 if type(i)==int else [j**2 for j in i] for i in [1, 2, [1, 2, 3]]]

[1, 4, [1, 4, 9]]

In [21]:
#dictionary comprehensions

{i:j for i,j in enumerate(['ravi_k@gmail.com', 'raja1988@outlook.com', 'kkavita@xyz.ai', 'mohanmohan@live.com'])}

{0: 'ravi_k@gmail.com',
 1: 'raja1988@outlook.com',
 2: 'kkavita@xyz.ai',
 3: 'mohanmohan@live.com'}

In [27]:
#dictionary comprehensions

{i:[j.split('@')[0],j.split('@')[1]] for i,j in enumerate(['ravi_k@gmail.com', 'raja1988@outlook.com', 'kkavita@xyz.ai', 'mohanmohan@live.com'])}

{0: ['ravi_k', 'gmail.com'],
 1: ['raja1988', 'outlook.com'],
 2: ['kkavita', 'xyz.ai'],
 3: ['mohanmohan', 'live.com']}

In [22]:
word = 'How'

{w:w.swapcase() for w in word}

{'H': 'h', 'o': 'O', 'w': 'W'}

In [8]:
#Let us create a list of integers

[i for i in range(6)]

[0, 1, 2, 3, 4, 5]

In [11]:
#if i try the above with tuples

(i for i in range(6))

Question : Use smart programming to print the year since your year of birth till now if the sum of digits in that year is divisible by 2

In [20]:
[i for i in range(1996,2023) if sum(int(i) for i in str(i))%2==0]

[1997,
 1999,
 2000,
 2002,
 2004,
 2006,
 2008,
 2011,
 2013,
 2015,
 2017,
 2019,
 2020,
 2022]